# Configuración de la Base de Datos Postgres
POSTGRES_DB=nombre_base_datos
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=contraseña_segura

# Configuración del Superusuario de Django
DJANGO_SU_NAME=nombre_django
DJANGO_SU_EMAIL=mail_django
DJANGO_SU_PASSWD=contraseña_django

#id de usuario y grupo para ejecutar el contenedor con los mismos permisos que el host
UID=id -u
GID=id -g